<!DOCTYPE html>
<html lang="en-UK">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>To Do List</title>
    <link href="../static/to_do_list.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="essentials">
            <h1>Essential To Do List:</h1>

            <p class="italic">This is my to do list. Finish these by the end of day.</p>

            <ul class="listToDo" id="listToDo">
                <li>Groceries</li>
                <li>Take out the bin</li>
                <li>Wash the car</li>
                <li>Do the laundry</li>
            </ul>

            <form>
                <label for="addtask">Add a new task:</label>
                <input type="text" placeholder="Add a new task" id="addtask" name="newtask" />
                <input type="button" value="Add" id="addbutton">
            </form>
        </div>

        <div id="work">
            <h1>Work To Do List:</h1>

            <p class="italic">This is my to do list. Finish these by the end of day.</p>

            <ul class="listToDo" id="listToDo">
                <li>Complete by monday</li>
                <li>Complete documentation</li>
                <li>Write javascript</li>
                <li>Write css</li>
            </ul>

            <form>
                <label for="addtask">Add a new task:</label>
                <input type="text" placeholder="Add a new task" id="addtask" name="newtask" />
                <input type="button" value="Add" id="addbutton">
            </form>
        </div>

        <div id="sports">
            <h1>Sports To Do List:</h1>

            <p class="italic">This is my to do list. Finish these by the end of day.</p>

            <ul class="listToDo" id="listToDo">
                <li>Swimming</li>
                <li>Running</li>
                <li>Weight lifting</li>
                <li>Hiking</li>
            </ul>

            <form>
                <label for="addtask">Add a new task:</label>
                <input type="text" placeholder="Add a new task" id="addtask" name="newtask" />
                <input type="button" value="Add" id="addbutton">
            </form>
        </div>
    </div>





    <script src="../static/to_do_list.js"></script>

</body>

</html>